<ion-view title="Confirm Application">

	<!-- Der Burgerbutton kommt wieder raus, nur zu Testzwecken! -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
		
	<ion-content>
		
        <div class="error"><strong>Watch out!</strong> You already applied for <span class="dinnertitle">Canneloni and Cheese</span>, Today at 6 PM at Josef’s place. Are you sure you can make it to both?</div>
        
        <div class="info">
            You are about to apply for <span class="data">3 people</span>. You want to <span class="data">take your food away</span>. This is when and where you’ll go:
        </div>
        
        <div class="card">
            <div class="row row-center">
                <div class="col">
                    <p class="dinnerdate">
                        <span>12.05.
                            <span>17:15</span>
                        </span>
                    </p>
                </div>
                <div class="col col-75">
                    <button ui-sref="#" class="button button-stable button-block profile-link">
                        <div class="item-avatar">
                            <img src="img/pw.jpg">
                            <span>at Selma's place</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="info">
            By tapping this button you will reserve the necessary Dinner Credits and you won’t be able to use them on another Dinner.
        </div>
        
        <button class="button-block button-positive button">Sounds great, sign me up!</button>
	</ion-content>

</ion-view>