<ion-view title="Confirm Application">

	<!-- Der Burgerbutton kommt wieder raus, nur zu Testzwecken! -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
		
	<ion-content>
		
        <div class="error"><strong>Watch out!</strong> You already applied for <span class="dinnertitle">Canneloni and Cheese</span>, Today at 6 PM at Josef’s place. Are you sure you can make it to both?</div>
        
        <div class="card">
            <div class="item item-text-wrap dinner-title control-application">
                <p>You applied for</p>  <!--bzw. You are accepted to -->

                <h1>Thüringer Klöße mit Sauerkraut</h1>

                <div class="row">
                    <div class="col col-10"><i class="icon dc-pin"></i></div>
                    <div class="col col-33">
                        <p><span class="host">Victoria</span>'s</p>
                    </div>
                    <div class="col col-10"><i class="icon dc-stopwatch"></i></div>
                    <div class="col">
                        <p>Aug 17, 12:45am</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-10"><i class="icon dc-plate"></i></div>
                    <div class="col col-33">
                        <!-- Platz für Anmeldungen/Modus -->
                        <p>1 Eat there<br />2 Take away</p>
                        <p class="status">Bring a box!</p> <!-- bzw. applied -->
                    </div>
                    <div class="col col-10"><i class="icon dc-logo"></i></div>
                    <div class="col">
                        <!-- Platz für Dinner Credits -->
                        <p>3 Dinner Credits</p>
                        <p class="status">charged on Aug 17, 12:30am</p> <!-- bzw. reserved -->
                    </div>
                </div>
            </div>
            
            <button class="button button-block button-stable borderless">Change Application</div>
        </div>
        
        <div class="info">
            By tapping this button you will reserve the necessary Dinner Credits and you won’t be able to use them on another Dinner.
        </div>
        
        <div class="card button-block-wrapper">
        <button class="item button-block button-positive button">Sounds great, sign me up!</button>
        </div>
	</ion-content>

</ion-view>