<ion-view title="Developer">
	<ion-content>
		<ion-list>

			<ion-item nav-clear menu-close ui-sref="dev.login">
				Login
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.signup">
				Sign Up
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.newdinner">
				Cook
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.lookfor">
				Eat
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.lookfor_filter">
				Filter Options
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.profile">
				Profile
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.dinner">
				Dinner
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.settings">
				Settings
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.notifications">
				Notifications
			</ion-item>
         <ion-item nav-clear menu-close ui-sref="dev.dinner_list">
				Dinner List
			</ion-item>
         <ion-item nav-clear menu-close ui-sref="dev.person_list">
				Person List
			</ion-item>
         <ion-item nav-clear menu-close ui-sref="dev.person_list_interactive">
				Person List (Interactive)
			</ion-item>
         <ion-item nav-clear menu-close ui-sref="dev.confirm_application">
				Confirm Application
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>
