<ion-view title="Developer">
	<ion-content>
		<ion-list>

			<!-- <ion-item type="item-text-wrap" href="#/tab/friend/{{friend.id}}">Friends</ion-item> -->

			<ion-item nav-clear menu-close href="#/app/login">
				Login
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/signup">
				Sign Up
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/newdinner">
				Cook
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/lookfor">
				Eat
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/lookfor_filter">
				Filter Options
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/profile">
				Profile (*)
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/dinner">
				Dinner (*)
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/settings">
				Settings
			</ion-item>
<!-- 			<ion-item nav-clear menu-close href="#/app/logout">
				Logout
			</ion-item> -->
		</ion-list>

		(*) currently not working, who knows why?
	</ion-content>
</ion-view>
