<ion-view title="Developer">
   <ion-content>
      <ion-list>

			<ion-item nav-clear menu-close ui-sref="dev.login">
				login
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.signup">
				signup
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.newdinner">
				newdinner
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.lookfor">
				lookfor
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.lookfor_filter">
				lookfor_filter
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.profile">
				profile
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.dinner">
				dinner
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.settings">
				settings
			</ion-item>
			<ion-item nav-clear menu-close ui-sref="dev.notifications">
				notifications
			</ion-item>
         <ion-item nav-clear menu-close ui-sref="dev.dinner_list">
				dinner_list
			</ion-item>
         <ion-item nav-clear menu-close ui-sref="dev.person_list">
				person_list
			</ion-item>
         <ion-item nav-clear menu-close ui-sref="dev.person_list_interactive">
				person_list_interactive
			</ion-item>
         <ion-item nav-clear menu-close ui-sref="dev.confirm_application">
				confirm_application
			</ion-item>

      </ion-list>
   </ion-content>
</ion-view>
