<ion-view title="Dinner">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  	<div ng-show="applicationState() == 'applied' || applicationState() == 'declined'" class="bar bar-subheader bar-positive">
	 You <strong>applied</strong> to this dinner for <strong>{{application.count}}</strong> person(s) to <strong>{{application.dinein ? 'dine-in' : 'take away'}}</strong>.
	 </div>

	 <div ng-show="applicationState() == 'accepted'" class="bar	bar-subheader bar-balanced">
	 You were <strong>accepted</strong> to this dinner as a total of <strong>{{application.count}}</strong> person(s) to <strong>{{application.dinein ? 'dine-in' : 'take away'}}</strong>.
	 </div>

  <ion-content class="has-header">

	<div class="card">
		<div class="item item-text-wrap">
			<h1>{{dinner.title}}</h1>
			<div class="row row-center">
				<div class="col">{{dinner | getBeginTime | date : 'd.M. HH:mm'}}</div>
				<div class="col col-75">
					<button ui-sref="app.user({userId: dinner.userData.uid})" ng-show="dinner.userData.firstname" class="button button-light">
						<div class="item-avatar">
							<img src="img/pw.jpg">
							<span>at {{isHost() ? 'your' : dinner.userData.firstname + "'s"}} place</span>
						</div>
					</button>
				</div>
			</div>
			<p>{{dinner.info}}</p>
			<div class="row row-center">
				<div ng-repeat="(type, enabled) in dinner.type" ng-show="enabled" class="col icon-left ion-record"> {{type}}</div>
			</div>
			
			<style>
				map {
				  display: block;
				  width: 100%;
				  height: 100%;
				  height: 250px;
				}
				.scroll {
				  height: 100%;
				}
			</style>
			<map on-create="mapCreated(map)"></map>
		</div>
	</div>


	<div ng-show="isHost()">
	<h2>Applicants</h2>
	<div ng-repeat="a in applications" class="row row-center" ng-show="a.state === 'applied'">
		<div class="col col-50">
				<a ui-sref="app.user({userId:a.userId})" class="button button-light">
					<div class="item-avatar">
						<img src="img/pw.jpg">
						<span>{{a.user.firstname}} {{a.user.lastname}} </span>
					</div>
				</a>
		</div>
		<div class="col"><a ng-click="acceptApplication(a)" class="button button-light ion-checkmark"></a></div>
		<div class="col"><a ng-click="declineApplication(a)" class="button button-light ion-close"></a></div>
	</div>
	</div>
	  

	<h2>Guests</h2>
	<div ng-repeat="a in applications" class="row row-center" ng-show="a.state === 'accepted'">
		<div class="col col-100">
				<a ui-sref="app.user({userId:a.userId})" class="button button-light">
					<div class="item-avatar">
						<img src="img/pw.jpg">
						<span>{{a.user.firstname}} {{a.user.lastname}} </span>
					</div>
				</a>
		</div>
	</div>


<!-- 	<h2>Conversations</h2>
	<div class="card">
	
	<div class="list">
		<div class="item item-text-wrap">
		<div class="item-avatar" href="#">
		  <img src="img/pw.jpg">
		  <h2>Venkman</h2>
		  <p>on Aug 14, 17:30</p>  
		</div>
		<p>Eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße. Ich bin allein und freue mich meines Lebens in dieser Gegend, die für solche Seelen geschaffen ist wie die meine.</p>  
		</div>
		<div class="item item-text-wrap">
		<div class="item-avatar" href="#">
		  <img src="img/pw.jpg">
		  <h2>Venkman</h2>
		  <p>on Aug 14, 17:30</p>  
		</div>
		<p>Eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße. Ich bin allein und freue mich meines Lebens in dieser Gegend, die für solche Seelen geschaffen ist wie die meine.</p>  
		</div>
	</div>
		
		<button class="button button-block button-light icon-left ion-chatbubble-working">Reply to conversation</button>
	
	</div>  
	<div class="card">
		<button class="button button-block button-light icon-left ion-chatbubble-working">Start new conversation</button>  
	</div>  -->
	
	<div ng-show="!isHost() && !applicationState()">
	<h2>Apply</h2>
		<div class="row">
			<div class="col col-50">
				<p>For how many pepole?</p>
				<p>You'll also be charged this many credits.</p>
			</div>
			<div class="col col">
				<button ng-click="addCount(-1, 1, 9)" class="button button-light icon ion-android-remove"></button>
			</div>
			<div class="col col">
				<h2>{{application.count}}</h2>
			</div>
			<div class="col col">
				<button ng-click="addCount(1, 1, 9)" class="button button-light icon ion-android-add"></button>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<button ng-click="apply(true)" ng-disabled="!dinner.dinein" class="button button-balanced">I want to go there!</button>
			</div>
			<div class="col col-50">
				<button ng-click="apply(false)" ng-disabled="!dinner.takeaway" class="button button-positive">I want to take my food away!</button>
			</div>
		</div>
	 </div>

  </ion-content>
</ion-view>