<ion-view title="Login">

	<!-- Der Burgerbutton kommt wieder raus, nur zu Testzwecken! -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
		
	<ion-content>
		<form>
			<div class="card">
				<div class="list">
                
                <label class="item error">Either E-Mail or password are incorrect. Maybe both.</label>    
				<label class="item item-input">
					<input ng-model="user.email" type="text" placeholder="E-Mail">
				</label>
				<label class="item item-input">
				<input ng-model="user.password" type="password" placeholder="Password">
				</label>
					
					<!-- doesn't work in here. will trigger login() -->
<!-- 					<button ng-click="gotoSignup()" type="button" class="button button-calm button-block">Sign up</button> -->
				</div>
			</div>
            <button ng-click="login()" type="submit" class="button button-block button-positive">Log in</button>
		</form>
		
		<button ui-sref="app.signup" class="button button-energized button-block">Sign up</button>
		<button disabled class="button button-positive button-block icon-left ion-social-facebook">Login with Facebook</button>
		<button disabled class="button button-assertive button-block icon-left ion-social-google">Login with Google</button>

	</ion-content>

</ion-view>

