<ion-view title="Look for Dinners">
  <ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

		<div class="bar bar-subheader bar-search has-dropdown">
            <i class="icon ion-navigate"></i>
            <input class="adress-search" placeholder="Your location">
        </div>
        <ul class="adress-dropdown">
            <li class="dropdown-item">
                    <i class="icon ion-navigate"></i>
                    <label>Your location</label>
            </li>
            <li class="dropdown-item">
                <i class="icon ion-home"></i>
                <label>Your home adress</label>
            </li>
            <li class="dropdown-item">
                <i class="icon ion-search"></i>
                <label>Salmansdorfer Platz, 1060 Wien</label>
            </li>
            <li class="dropdown-item">
                <i class=""></i>
                <label>Salzburger Straße, 1170 Wien</label>
            </li>
            <li class="dropdown-item">
                <i class=""></i>
                <label>Salzgries, 1010 Wien</label>
            </li>
        </ul>
        <ion-content class="has-subheader">
			<div ng-repeat="dinner in dinners | orderBy : getBeginTime" class="card dinner">
				<style> a, a:visited, a:active, a:hover {text-decoration:none; color:black;}</style>
				<a ng-href="#/app/dinner/{{dinner.$id}}"class="row row-center">
					<div class="col col-75 title-location">
                        <p class="dinnertitle">{{dinner.title}}</p>
                        <p class="dinnerlocation">at Selma's place</p>
                    </div>
					<div class="col">
                        <p class="dinnerdate">
                            <span>{{dinner | getBeginTime | date : 'd.M.'}}
                            <span>{{dinner | getBeginTime | date : 'HH:mm'}}</span>
                            </span>
                        </p>
                    </div>
				</a>
			</div>

		</ion-content>

	
	<button class="button button-positive icon ion-location maptoggle"></button>
    <button class="button button-positive filterbutton">Filter</button>
	
</ion-view>