<ion-view title="Look for Dinners">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
        
        <ion-content class="has-header">

            <h2>Search within</h2>
            <div class="card">
                <div class="range range-positive">
                  <i class="value">4km</i>
                  <input ng-model="user.settings.searchradius" type="range" name="radius" min="0" max="5">
                  <i class="icon dc-global"></i>
               </div> 
            </div>

            <h2>Refine</h2>
            <div class="card">
                <div class="list">
                    <div class="row categories">
                        <div class="col">
                            <div class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Vegan
                            </div>
                        </div>
                        <div class="col">
                            <div class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Vegetarian
                            </div>
                        </div>
                    </div>
                    <div class="row categories">
                        <div class="col">
                            <div class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Organic
                            </div>
                        </div>
                        <div class="col">
                            <div class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Halal
                            </div>
                        </div>
                    </div>
                    <div class="row categories">
                        <div class="col">
                            <div class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Kosher
                            </div>
                        </div>
                        <div class="col">
                            <div class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Sweet
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            
            <div class="card">
                <div class="item item-checkbox borderless isolated">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        Show only Dinners by Friends
                </div> 
            </div>

            <h2>Time</h2>
            <div class="card list last-before-hoverbuttons">
                <label class="item item-input time-input">
                    <span class="input-label">From</span>
                    <input type="datetime-local">
                </label>
                <label class="item item-input time-input">
                  <span class="input-label">Until</span>
                  <input type="datetime-local">
               </label>
            </div>


        </ion-content>
    
    <button class="button button-positive icon ion-location maptoggle" style="display: none"></button>
    <button class="button button-positive filterbutton">Apply Filters</button>
    
</ion-view>