<ion-view title="Look for Dinners">
   <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>

   <div class="bar bar-subheader bar-search has-dropdown">
      <i class="icon ion-home"></i>
      <input class="adress-search" placeholder="Your home address" value="{{user.address | flattenAddress}}">
   </div>
   <!-- TODO: CENTER OF SEARCH -->
   <ul class="adress-dropdown">
      <li class="dropdown-item">
         <i class="icon ion-navigate"></i>
         <label>Your location</label>
      </li>
      <li class="dropdown-item">
         <i class="icon ion-home"></i>
         <label>Your home adress</label>
      </li>
      <li class="dropdown-item">
         <i class="icon ion-search"></i>
         <label>Salmansdorfer Platz, 1060 Wien</label>
      </li>
      <li class="dropdown-item">
         <i class=""></i>
         <label>Salzburger Straße, 1170 Wien</label>
      </li>
      <li class="dropdown-item">
         <i class=""></i>
         <label>Salzgries, 1010 Wien</label>
      </li>
   </ul>
   <!-- /TODO: CENTER OF SEARCH -->

   <ion-content class="has-subheader">
      <!-- TODO: VALIDATION -->
      <!-- <div class="error">
         <br /> Hrm. We don't seem to have anything that matches your query at the moment - maybe try changing your filter settings.
         <br />
         <br />Or being less picky, but what do I know...
      </div> -->
      <!-- /TODO: VALIDATION -->

      <!-- result list -->
      <div ng-repeat="dinner in dinners | orderBy: getBeginTime" class="card dinner">
         <div ui-sref="app.dinner({dinnerId:dinner.$id})" class="">
            <div class="title-location">
               <p class="dinnertitle">{{dinner.title}}</p>
                <p class="dinnerinfo"><i class="icon ion-flash"></i> {{dinner | getBeginTime | calendarTime}} at <span class="host">{{dinner.hostedByUser}}</span>'s place</p>
            </div>
         </div>
      </div> <!-- /result list -->

      <!-- TODO: result map -->
   </ion-content>

   <button class="button button-positive maptoggle">
        <i class="icon dc-pin"></i>
    </button>
   <!--<div class="filterbutton">
        <a class="button button-positive icon ion-close"></a>
        <a class="button button-positive">Change Filters</a>
    </div>-->
   <button class="button button-positive filterbutton">Filter</button>

</ion-view>
