<ion-side-menus>

   <ion-side-menu-content>
      <ion-nav-bar class="bar-dark">
         <ion-nav-buttons side="left">
            <!-- <ion-nav-back-button class="button-clear"><i class="ion-ios-arrow-back"></i> Back</ion-nav-back-button> -->
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
         </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view name="mainContent"></ion-nav-view>
   </ion-side-menu-content>

   <!-- <ion-pane ion-side-menu-content>
      <ion-nav-bar class="bar-dark nav-title-slide-ios7">
         <ion-nav-back-button class="button-clear"><i class="icon ion-ios-arrow-back"></i> Back</ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
   </ion-pane> -->

   <ion-side-menu side="left">
      <header class="bar bar-header bar-dark bar-menu">
         <div class="row username">
                <div class="col">Sebastian</div>
               <!--<div class="username">{{user.firstName}}</div>-->
         </div>
        <div class="row row-center credits">
                  <div class="col-10"><i class="icon ion-heart"></i></div>
                  <div class="col credits-label">{{user.numCredits || 0}} Credits</div>
          </div>
      </header>

      <ion-content class="has-header content-menu">
         <ion-list>
            <ion-item nav-clear menu-close ui-sref="app.lookfor">Look for Dinners</ion-item>
            <ion-item nav-clear menu-close ui-sref="app.newdinner">New Dinner</ion-item>
            <ion-item nav-clear menu-close ui-sref="app.settings">Settings</ion-item>
            <ion-item nav-clear menu-close ui-sref="logout">Log out</ion-item>
            <ion-item nav-clear menu-close ui-sref="dev.menu">Developer</ion-item>
         </ion-list>
      </ion-content>
   </ion-side-menu>

</ion-side-menus>
