<ion-view title="New Dinner">
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    <ion-content>
        <div class="card">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="What are you cooking?">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Are there any special ingredients? Where did you get the recipe? Tell us more about your Dinner!"></textarea>
                </label>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Vegan
                </div>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Vegetarian
                </div>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Organic
                </div>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Halal
                </div>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Kosher
                </div>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Sweet
                </div>
            </div>
        </div>
        
        <h2>Arrangements</h2>
        <div class="card">
            <div class="list">
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Guests can eat here!
                </div>
                <label class="item item-input">
                    <span class="input-label">When?</span>
                    <input type="text">
                </label>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Guests can take their food with them!
                </div>
                <div class="row item">
                    <label class="col col-80 item-input">
                        <span class="input-label">From</span>
                        <input type="text">
                    </label>
                    <button class="button button-light col col-20">Now</button>
                </div>
                <label class="item item-input">
                    <span class="input-label">Until</span>
                    <input type="text">
                </label>
                
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Visible for everyone
                </div>

                <button class="item button button-light button-block">
                    You're not cooking at your home adress
                </button>

            </div>
        </div>
        
        <h2>Invite Friends</h2>
        <div class="card">
            <div class="list">
               <div class="item row row-center">
                    <div class="col col-20">
                        <a class="item item-avatar" href="#">
                            <img src="../img/pw.jpg">
                        </a>
                    </div>
                    <div class="col col-20">
                        <a class="item item-avatar" href="#">
                            <img src="../img/pw.jpg">
                        </a>
                    </div>
                    <div class="col col-20">
                        <a class="item item-avatar" href="#">
                            <img src="../img/pw.jpg">
                        </a>
                    </div>
                </div>
                <button class="button button-light button-block item">Invite more Friends</button>
            </div>
        </div>
        
        <button class="button button-positive button-block">Create Dinner</button>
        
    </ion-content>
</ion-view>