<ion-view title="Notifications">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
    
        <ion-content>
            
            <div class="card person-list">
                <div class="person-item notification">
                    <div class="person-info">
                    <a class="button button-light button-block" href="#">
                        <div class="item-avatar">
                            <img src="img/pm.jpg">
                            <p><span>Josef invited you</span> to his event 'Thüringer Klöße mit Sauerkraut'!</p>
                        </div>
                    </a>
                    </div>
                </div>
                
                <div class="person-item notification with-icon">
                    <div class="person-info">
                    <a class="button button-light button-block" href="#">
                        <i class="icon ion-trophy"></i>
                        <div class="item-avatar">
                            <p class="two-line"><span>You have been made an admin</span> of 'The Even Better Vegans'. Yay!</p>
                        </div>
                    </a>
                    </div>
                </div>
                
                <div class="person-item notification">
                    <div class="person-info">
                    <a class="button button-light button-block" href="#">
                        <div class="item-avatar">
                            <img src="img/pm.jpg">
                            <p><span>Renate posted something</span>  in your event 'Spaghetti Pomodoro'.</p>
                        </div>
                    </a>
                    </div>
                </div>
                
                <div class="person-item notification old">
                    <div class="person-info">
                    <a class="button button-light button-block" href="#">
                        <div class="item-avatar">
                            <img src="img/pm.jpg">
                            <p><span>Renate posted something</span>  in your event 'Spaghetti Pomodoro'.</p>
                        </div>
                    </a>
                    </div>
                </div>
                
                <div class="person-item notification with-icon old">
                    <div class="person-info">
                    <a class="button button-light button-block" href="#">
                        <i class="icon ion-trophy"></i>
                        <div class="item-avatar">
                            <p class="two-line"><span>You have been made an admin</span> of 'The Even Better Vegans'. Yay!</p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            
        </ion-content>
      
</ion-view>