<ion-view title="Notifications">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
    
        <ion-content>
            
            <div class="card list">
                <a class="item item-avatar" href="#">
                    <img src="img/pm.jpg">
                    <h2>Josef invited you to his event Thüringer Klöße mit Sauerkraut!</h2>
                    <p></p>
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-trophy"></i>
                    <h2>You have been made an admin of The Even Better Vegans. Yay!</h2>
                    <p></p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/pm.jpg">
                    <h2>Renate posted something in your event Spaghetti Pomodoro.</h2>
                    <p>Hallo Leute, ich wollte nur mal Fragen: Sind da Erdnüsse drin?</p>
                </a>
            </div>
            
        </ion-content>
      
</ion-view>