<ion-view title="Person List">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
    
        <ion-content>
            
            <div class="card person-list">
                
                <div class="person-item">
                    <div class="person-info">
                    <a class="button button-light button-block">
                            <div class="item-avatar">
                                <img src="img/pw.jpg">
                                <p class="person-name">Victoria</p>
                            </div>

                    </a>
                    </div>
                </div>
                <div class="person-item">
                    <div class="person-info">
                    <a class="button button-light button-block">
                            <div class="item-avatar">
                                <img src="img/pw.jpg">
                                <p class="person-name">Victoria</p>
                            </div>

                    </a>
                    </div>
                </div>
                <div class="person-item">
                    <div class="person-info">
                    <a class="button button-light button-block">
                            <div class="item-avatar">
                                <img src="img/pw.jpg">
                                <p class="person-name">Victoria</p>
                            </div>

                    </a>
                    </div>
                </div>
                <div class="person-item">
                    <div class="person-info">
                    <a class="button button-light button-block">
                            <div class="item-avatar">
                                <img src="img/pw.jpg">
                                <p class="person-name">Victoria</p>
                            </div>

                    </a>
                    </div>
                </div>
                
                <div class="button button-block button-stable borderless">
                    Invite more Friends
                </div>
            </div>
            
        </ion-content>
      
</ion-view>