<ion-view title="Person List (Interactive)">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    
    <div class="bar bar-subheader bar-search">
        <input placeholder="Enter a name...">
    </div>
        <ion-content class="has-subheader">
            
            <div class="card person-list">
                
                <div class="person-item with-checkbox">
                    <div class="person-info">
                    <label class="checkbox button button-light button-block">
                        <div class="item-avatar">
                                <img src="img/pw.jpg">
                                <p class="person-name">Victoria</p>
                        </div>
                        <div class="person-checkbox">
                            <input type="checkbox" />
                        </div>
                    </label>
                    </div>
                </div>
                <div class="person-item with-checkbox">
                    <div class="person-info">
                    <label class="checkbox button button-light button-block">
                        <div class="item-avatar">
                                <img src="img/pw.jpg">
                                <p class="person-name">Victoria</p>
                        </div>
                        <div class="person-checkbox">
                            <input type="checkbox" />
                        </div>
                    </label>
                    </div>
                </div>
                <div class="person-item with-checkbox">
                    <div class="person-info">
                    <label class="checkbox button button-light button-block">
                        <div class="item-avatar">
                                <img src="img/pw.jpg">
                                <p class="person-name">Victoria</p>
                        </div>
                        <div class="person-checkbox">
                            <input type="checkbox" />
                        </div>
                    </label>
                    </div>
                </div>
               <div class="person-item with-checkbox">
                    <div class="person-info">
                    <label class="checkbox button button-light button-block">
                        <div class="item-avatar">
                                <img src="img/pw.jpg">
                                <p class="person-name">Victoria</p>
                        </div>
                        <div class="person-checkbox">
                            <input type="checkbox" />
                        </div>
                    </label>
                    </div>
                </div>
            </div>
            
        </ion-content>
      
        <div class="bar bar-footer">
            <button class="button button-block button-stable">Invite to Dinner</button>
        </div>
</ion-view>