<ion-view title="Sign Up">
	
	<!-- Der Burgerbutton kommt wieder raus, nur zu Testzwecken! -->
  <ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
	
  <ion-content>
	<form>
	  <div class="card">
		<div class="list">
		<label class="item item-input">
			<input ng-model="user.firstname" type="text" placeholder="First Name">
		</label>
		<label class="item item-input">
			<input ng-model="user.lastname" type="text" placeholder="Last Name">
		</label>
		<label class="item item-input">
			<input ng-model="user.email" type="text" placeholder="E-Mail">
		</label>
		<label class="item item-input">
			<input ng-model="user.password" type="password" placeholder="Password">
		</label>
<!-- 		<label class="item item-input">
			<input ng-model="user.passwordCheck" type="password" placeholder="Repeat Password">
		</label> -->
	  </div>
	</div>
    <button ng-click="signup()" class="button button-energized button-block">Sign up</button>
	</form>
	  
  </ion-content>
</ion-view>