{
   "parser": "babel-eslint",
   "extends": "eslint:recommended",
   "rules": {
      "strict": 0,
      "semi": [1, "always"],
      "no-console": 0,
      "no-unused-vars": 1
   },
   "env": {
      "browser": true
   },
   "globals": {
      "angular": false,
      "cordova": false,
      "Firebase": false,
      "_": false
   }
}
